<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Doctors</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>Available Doctors</h2>
    <div class="row">
        <div class="col-md-4" th:each="doctor : ${doctors}">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 th:text="${doctor.name}"></h5>
                    <p th:text="'Specialization: ' + ${doctor.specialization}"></p>
                    <p th:text="'Hospital: ' + ${doctor.hospital}"></p>
                    <p th:text="'Experience: ' + ${doctor.experience} + ' yrs'"></p>
                    <p th:text="'Surgeries: ' + ${doctor.surgeries}"></p>
                    <p th:text="'Success Rate: ' + ${doctor.successRate} + '%'"></p>
                    <a th:href="@{'/book/' + ${doctor.id}}" class="btn btn-primary">Book Appointment</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
